.welcomelanding {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 99px);
    z-index: 0;
    position: relative;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.about {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 99px);
    z-index: 0;
    position: relative;
}

.projects {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 99px);
    z-index: 0;
    position: relative;
}

.cv {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 99px);
    z-index: 0;
    position: relative;
}

.contact {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 99px);
    z-index: 0;
    position: relative;
}

.tag {
    opacity: 0;
    /* transform: translate(0, 10vh); */
    transition: all 5s;
}

.tag.visible {
    opacity: 1;
    /* transform: translate(0, 0); */
  }