.cv-container {
    text-align: center;
    padding: 0;
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    top: 0px;
    z-index: 0;
    margin: 0 auto;
    width: calc(100% - 15rem);
}

.cv-title {
    font-size: var(--subtitle-font-size);
    margin: var(--subtitle-margin);
}

.cv-container p {
    line-height: 32px;
    font-size: 18px;
}

.cv-container li {
    list-style: none;
    font-size: var(--p-font-size);
    line-height: var(--p-line-height);
}

/* cv-grid is my container that holds the boxes */
.cv-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

/* tools styling */

.tools-container,
.lang-frame-container,
.experience-container {
    border: solid lightblue;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.tools-container {
    flex-grow: 1;
}

.lang-frame-container {
    flex-grow: 2;
}

.experience-container {
    /* padding: 20px 70px; */
    padding: 20px 25px;
}

.experience-detail {
    text-align: justify;
    display: flex;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
    flex-basis: auto;
    
}

.experience-item {
    background-color: whitesmoke;
    padding: 15px 25px;
    border-radius: 10px;
    flex-grow: 1;
    flex-shrink: 1; 
} 

.cv-images {
    max-height: 40px;
    max-width: 40px;
    padding: 15px;
}