footer {
    /* position: absolute; */
    bottom: 15px;
    width: 100%;    
    height: 2.5rem
};


a:link {
    text-decoration: none;
    color: orangered;
}

a:visited {
    text-decoration: none;
    color: orangered;
}

a:hover {
    text-decoration: none;
    color: black;
        
}

a:active {
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
}