

.welcome-landing-container {
    text-align: center;
    /* height: 100vh; */
    padding: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    top: 0px;
    z-index: 0;
}

.intro-name {
    font-size: 5rem;
    margin-bottom: 5px;
    margin-top: 0px;
}

.tagline {
    font-weight: lighter;
    font-size: 2vw;
    margin-top: 0px;
    
}

.intro-icons {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    width: 30px;
}

.intro-icons svg {
    font-size: 40px;
    margin: 10px;
}

/* Responsive styles for tablet screens and above */
@media screen and (max-width: 768px) {
    .intro-name {
        font-size: 10vw; 
    }
    .tagline {
        font-size: 4vw;
    }
}