

.welcome-landing-container {
    text-align: center;
    /* height: 100vh; */
    padding: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
}

.intro-icons {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    width: 30px;
}

.intro-icons svg {
    font-size: 40px;
    margin: 10px;
}