@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500&display=swap');

:root {
  --font-family: 'Reem Kufi', sans-serif;
  --font-color: #FF4500;
  --p-font-size: 18px;
  --p-line-height: 32px;
  --subtitle-font-size: 55px;
  --subtitle-margin: 0;

}

.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

h1, h2, h3, h4 {
  font-family: var(--font-family);
  color: var(--font-color);
}

h3 {
  font-size: 30px;
  margin: 5px 0px 5px 0px;
}

h4 { 
  font-size: 20px;
  margin: 5px 0px 5px 0px;
}


.footer-text {
  color: gray;
}